.contacts {
  // position: relative;
  min-height: 438px;
  background: url("../img/bg_contact.jpg") no-repeat (center/cover);
  .container {
    padding: 50px 20px;
  }
  &__wrapper {
    background-color: rgba(255, 255, 255, 0.20);
    // display: block;
    // position: absolute;
    max-width: 896px;
    max-height: 380px;
    margin: 0 auto;
    // left: 50%;
    // transform: translateX(-50%);
    // top: 60px;
  }
  &__subheader {
    padding-top: 20px;
    height: 64px;    
    text-transform: uppercase;
    background: #25333c;
    color: $white-text;
    text-align: center;
    h2 {
      margin: 0;
      font-size: 19px;
      font-weight: bold;
      line-height: 10px;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }
  &__form {
    // max-width: 896px;
    padding: 15px 20px;
    display: grid;
    grid-template: 50px minmax(70px, auto) 50px/repeat(3, 1fr); //3, 265px
    justify-content: space-between;
    gap: 10px;
    input, textarea, button{
      width: 100%;
      height: 100%;
      padding: 0 10px;
      border: 1px solid #a7a9aa;
      border-radius: 2.2rem;
      font-size: 13px;
      color: rgba(16, 16, 16, 0.702);
    }
    textarea {
      padding-top: 15px;
      border-radius: 1rem;
      resize: none;
    }
    button {
      width: 180px;
      height: 40px;
      padding: 0px;
      border: none;
      color: $white-text;
      background: $main-color;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
    }
  }
  &__text {
    grid-column: 1/4;
  }
  &__btn {
    margin-top: 10px;
    max-width: 180px;
    grid-column: 2/3;
    justify-self: center;
  }
}