.consultation {
  margin-top: 56px;
  position: relative;
  &__header {
    font-size: 28px;
    font-family: "Roboto";
    color: rgb(58, 58, 58);
    line-height: 0.821;
    text-align: center;
  }
  &__icon {
    width: 95px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 47px;
    // background-color: #ffffff00;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
      background-color: #fff;
    }
  }

  &__form {
    height: 162px;
    margin-top: 75px;
    position: relative;
    padding: 60px 20px; //160px
    border: 1px solid #eaeaea;
    display: grid;
    grid-template: repeat(2, 45px) / repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    justify-content: space-evenly; //center
    input {
      width: 100%;
      height: 41px;
      padding: 0 10px;
      border: 1px solid #eaeaea;
      border-radius: 22px;
      color: rgb(58, 58, 58);
    }
  }
  &__btn {
    width: 180px;
    height: 40px;
    position: absolute;
    bottom: -21px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: #ffffff00;
    z-index: 2;
    button {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 2.2rem;
      color: $white-text;
      background-color: $main-color;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

// .Доставка_12_20_дня_от_1__за_1_кг {
//   font-size: 14px;
//   font-family: "Roboto";
//   color: rgb(46, 46, 46);
//   text-transform: uppercase;
//   line-height: 1.643;
//   text-align: center;
//   position: absolute;
//   left: 982.167px;
//   top: 2592.023px;
//   width: 160px;
//   height: 43px;
//   z-index: 193;
// }
