.footer {
  min-height: 200px;
  padding: 25px 0;
  background: #25333c;
  color: $white-text;
  
  &__beforeDivider {
    // padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // color: $white-text;
  }
  &__text {
    font-size: 16px;
    font-weight: bold;
  }
  // &__text, &__call, a {    
  //   color: $white-text;
  // }
  &__contacts {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;

    &_wrap {
      padding-right: 15px;
      text-align: right;
    }
  }
  &__call {
    // font-family: Roboto;
    // color: $white-text;
    font-size: 14px;
  }
  &__phone {
    // font-family: Roboto;
    font-size: 19px;
  }
  &__btn {
    width: 160px;
    height: 45px;
    font-size: 12px;
    // font-family: "Roboto";
    color: $white-text;
    text-transform: uppercase;
    line-height: 1.837;
    text-align: center;
    border: none;
    border-radius: 25px;
    background: $main-color;
  }
  &__divider {
    @include divider;
    margin-top: 25px;
    width: 100%;
    background: $white-text;

  }
  &__afterDivider {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
