.footer {
  min-height: 200px;
  padding: 25px 0;
  background: #25333c;
  color: $white-text;
  
  &__beforeDivider {
    // padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    // color: $white-text;
  }
  &__logo {
    img {
      width: 100%;
    }
  }
  &__text {
    font-size: 16px;
    font-weight: bold;
  }
  // &__text, &__call, a {    
  //   color: $white-text;
  // }
  &__contacts {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;

    &_wrap {
      padding-right: 15px;
      text-align: right;
    }
  }
  &__call {
    // font-family: Roboto;
    // color: $white-text;
    font-size: 14px;
  }
  &__phone {
    // font-family: Roboto;
    font-size: 19px;
  }
  &__btn {
    width: 160px;
    height: 45px;
    font-size: 12px;
    // font-family: "Roboto";
    color: $white-text;
    text-transform: uppercase;
    line-height: 1.837;
    text-align: center;
    border: none;
    border-radius: 25px;
    background: $main-color;
  }
  &__divider {
    @include divider;
    margin-top: 25px;
    width: 100%;
    background: $white-text;

  }
  &__afterDivider {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
  }
  &__creator a, &__creator-logo {
    
    color: rgba(255, 255, 255, 0.6);
  }
  &__policy {
    a {
      font-size: 13px;
      color:$main-color;
      text-decoration: underline;
    }
  }
  &__creator-logo {
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2.2rem;
  }
}
// .©_2010_Scratch_com_ua {
//   font-size: 13px;
//   font-family: "Roboto";
//   color: rgba(255, 255, 255, 0.6);
//   line-height: 1.308;
//   text-align: center;
//   position: absolute;
//   left: 391.532px;
//   top: 5534.498px;
//   z-index: 9;
// }
.Политика_конфидециальности {
  font-size: 13px;
  font-family: "Roboto";
  color: rgb(236, 100, 75);
  text-decoration: underline;
  line-height: 1.308;
  text-align: center;
  position: absolute;
  left: 750px;
  top: 5551.877px;
  z-index: 10;
}

