.header {
  position: relative;
  // background: url("../../img/bg_promo.jpg") center (center / cover) no-repeat;
  // top: 20px;
  a {
    color: $white-text;
    &:hover {
      color: $main-color;
      text-decoration: underline;
    }
  }

  &__nav {
    width: 1140px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  &__logo {
    padding-right: 35px;
  }
  &__menu {
    padding: 35px 35px 0 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    &__item {
      height: 23px;
      padding: 0 13px;
      font-family: Roboto;
      font-size: 15px;
      border-right: 1px dotted rgba(255, 255, 255, 0.4);
      &:last-child {
        border-right: none;
      }
    }
  }
  &__contacts {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;

    &_wrap {
      padding-right: 15px;
      text-align: right;
    }
  }
  &__call {
    font-family: Roboto;
    color: $white-text;
    font-size: 14px;
  }
  &__phone {
    font-family: Roboto;
    font-size: 19px;
  }
  &__btn {
    width: 160px;
    height: 45px;
    font-size: 12px;
    font-family: "Roboto";
    color: $white-text;
    text-transform: uppercase;
    line-height: 1.837;
    text-align: center;
    border: none;
    border-radius: 25px;
    background: $main-color;
  }
}
