@media (max-width: 1140px) {
  // .container {
  //   padding: 0 4vw;
  // }
  .header {
    &__nav {
      width: 992px;
    }
    &__logo {
      padding-right: 15px;
    }
    &__menu {
      padding: 35px 10px 0 0;
      &__item {
        padding: 0px 5px;
        font-size: 13px;
        // border-right: 1px dotted #fff;
      }
    }
    &__call {
      font-size: 12px;
    }
    &__phone {
      font-size: 15px;
    }
    &__btn {
      margin-top: 0.5rem;
      width: 130px;
      height: 30px;
      font-size: 10px;
    }
  }
  .promo {
    &__text {
      font-size: 20px;
    }
    &__header {
      font-size: 50px;
    }
    &__subheader {
      font-size: 30px;
    }
    &__divider {
      &_line {
        width: 280px;
      }
    }
    &__desc {
      &_text {
        font-size: 14px;
      }
    }
    &__btn {
      width: 130px;
      height: 30px;
      font-size: 10px;
      font-weight: normal;
      line-height: 31px;
    }
  }
}

@media (max-width: 992px) {
  .header {
    &__nav {
      width: 768px;
    }
    &__logo {
      width: 80px;
      img {
        width: 100%;
      }
    }
    &__menu {
      padding-top: 20px;
      align-items: center;
      &__item {
        height: 15px;
        font-size: 11px;
      }
    }
    &__call {
      font-size: 11px;
    }
    &__phone {
      font-size: 13px;
    }
  }
  .promo {
    &__desc_text {
      font-size: 11px;
    }
  }
}
