@media (max-width: 1140px) {
  // .container {
  //   padding: 0 4vw;
  // }
  .header {
    &__nav {
      width: 992px;
    }
    &__logo {
      padding-right: 15px;
    }
    &__menu {
      padding: 35px 10px 0 0;
      &__item {
        padding: 0px 5px;
        font-size: 13px;
        // border-right: 1px dotted #fff;
      }
    }
    &__call {
      font-size: 12px;
    }
    &__phone {
      font-size: 15px;
    }
    &__btn {
      margin-top: 0.5rem;
      width: 130px;
      height: 30px;
      font-size: 10px;
    }
  }
  .promo {
    &__text {
      font-size: 20px;
    }
    &__header {
      font-size: 50px;
    }
    &__subheader {
      font-size: 30px;
    }
    &__divider {
      &_line {
        width: 280px;
      }
    }
    &__desc {
      &_text {
        font-size: 14px;
      }
      &_item {
        padding: 0 15px;
      }
    }
    &__btn {
      width: 130px;
      height: 30px;
      font-size: 10px;
      font-weight: normal;
      line-height: 31px;
    }
  }
  .advantages {
    &__items {
      padding: 37px 20px 50px;
    }
    &__text {
      font-size: 14px;
    }
  }
}

@media (max-width: 992px) {
  .header {
    &__nav {
      width: 99%;
    }
    &__logo {
      width: 80px;
      img {
        width: 100%;
      }
    }
    &__menu {
      padding-top: 20px;
      align-items: center;
      &__item {
        height: 15px;
        font-size: 11px;
      }
    }
    &__call {
      font-size: 11px;
    }
    &__phone {
      font-size: 13px;
    }
  }
  .promo {
    &__desc_text {
      font-size: 11px;
    }
  }
  .advantages {
    &__header {
      font-size: 18px;
    }
    &__text {
      font-size: 11px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__nav {
      // width: 420px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    &__logo {
      padding-right: 0;
    }
    &__menu {
      padding-right: 0;
    }
    &__contacts {
      padding-top: 0;
      flex-direction: column;
      align-items: center;
      &_wrap {
        text-align: center;
        padding-right: 0;
      }
    }
  }
  .promo {
    .container {
      padding: 125px 0 20px;
    }
    &__text {
      font-size: 14px;
    }
    &__header {
      font-size: 32px;
    }
    &__subheader {
      font-size: 18px;
    }
    &__divider {
      &_line {
        width: 160px;
      }
    }
    &__desc {
      display: grid;
      grid-template: repeat(2, minmax(125px, auto)) / repeat(2, 1fr);
      row-gap: 20px;
      &_text {
        font-size: 12px;
      }
    }
    &__btn {
      width: 130px;
      height: 30px;
      font-size: 10px;
      font-weight: normal;
      line-height: 31px;
    }
  }
}

@media (max-width: 425px) {
  .header {
    &__nav {
      // width: 420px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    &__logo {
      padding-right: 0;
    }
    &__menu {
      flex-direction: column;
      padding-right: 0;
      &__item {
        margin-top: 5px;
        border: none;
      }
    }
    // &__contacts {
    //   padding-top: 0;
    //   flex-direction: column;
    //   align-items: center;
    //   &_wrap {
    //     text-align: center;
    //     padding-right: 0;
    //   }
    // }
  }
  .promo {
    .container {
      padding: 235px 0 20px;
    }
    &__text {
      font-size: 10px;
    }
    &__header {
      font-size: 23px;
    }
    &__subheader {
      font-size: 12px;
    }
    &__divider {
      &_line {
        width: 110px;
      }
    }
    &__desc {
      grid-template: repeat(4, minmax(125px, auto)) / 1fr;
    }
  }
  .advantages {
    &__header {
      font-size: 12px;
    }
    &__items {
      grid-template: repeat(8, minmax(60px, auto)) / 1fr;
    }
    &__text {
      font-size: 11px;
    }
  }
}
