.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.56);
  z-index: 3;
}
.modal {
  position: absolute;
  max-width: 425px;
  min-height: 70px;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #eaeaeaf1;
  border-radius: 0.5rem;
  &__close {
    position: absolute;
    top: 0; 
    right: -30px;   
    font-size: 41px;
    line-height: 15px;
    color: $main-color;
  }
  &__subheader {
    font-size: 18px;
    text-align: center;
    color:black;
  }
  &__descr {
    text-align: center;
  }
  .consultation__form {
    //     max-width: 425px;
    min-height: 220px;
    padding-top: 10px;
    margin-top: 10px;
    grid-template: repeat(4, 45px) / 1fr;
  }
}
