.prices {
  &__header {
    margin-top: 50px;
    @include header;
  }
  &__text {
    margin: 28px auto;
    width: 62%;
    text-align: center;
    font-size: 21px;
    font-family: "Roboto";
    font-weight: lighter;
    color: $dark-text;
    line-height: 1.421;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 27px;
  }
  &__item {
    border: 1px solid #eaeaea;
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    align-content: space-between;
  }

  &__subheader {
    margin: 0 auto;
    width: 99%;
    height: 11%;
    background: #25333c;
    font-size: 16px;
    font-family: "Roboto";
    color: $white-text;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 3.438;
    text-align: center;
  }
  &__icon {
    margin: 0 auto;
  }
  &__descr {
    font-size: 14px;
    text-align: center;
    span {
      display: block;
      font-size: 28px;
      color: $main-color;
      font-weight: 400px;
      line-height: 1.222;
    }
  }
  &__subDescr {
    font-weight: lighter;
    text-align: center;
  }
  &__btn {
    margin: 26px auto;
    width: 160px;
    height: 45px;
    font-size: 12px;
    font-family: "Roboto";
    color: $white-text;
    text-transform: uppercase;
    line-height: 1.837;
    text-align: center;
    border: none;
    border-radius: 25px;
    background: $main-color;
  }
}